h1{
    text-size-adjust: 20000px;
    text-align: center;
    font-size: xx-large;
    color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
}
h2{
    color: blanchedalmond;
    size: 1000px;
}
p{
    color: blanchedalmond;
    size: 1000px;
}